<h1>{{titulo}}</h1>
<hr>

<div class="row">

    <div class="col-sm-6">
        <div class="row animated fadeIn fast">
            <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (peliculas[0] | noImage) +' )'  }">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (peliculas[1] | noImage) +' )'  }">
            </div>
            <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (peliculas[2] | noImage) +' )'  }">
            </div>
        </div>

    </div>

    <div class="col-sm-6">


        <div class="row">
            <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (peliculas[3] | noImage) +' )'  }">
            </div>
            <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (peliculas[4] | noImage) +' )'  }">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 div-pic-1" [ngStyle]="{ 'background-image': 'url( ' + (peliculas[5] | noImage) +' )'  }">
            </div>
        </div>

    </div>





</div>